@charset "UTF-8";

* { margin: 0; padding: 0;}

div.category{
    width: 1140px; height: 35px;
    background-color: tan;
}

.category ul{
    float: left;
    list-style: none;
}

.category ul li{display: inline-block;}

div.container{
	width: 1140px; height: 1840px;
    background-color: lightgoldenrodyellow;
    display: flex;
 	gap: 20px 10px;
  	flex-wrap: wrap;
  	justify-content: center;
    
}

div.item{
	width: 240px; height: 360x;
    margin : 0 10px;
    background-color: beige;  
}

span.sale_price{
    font-weight: bold;
    font-size: 18px;
  
}

img.product_img{
	width:240px; height:250px;
}